*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 8vh;
    background-color: rgb(0, 0, 0);
    display: flex;
}
#img-header{
    position: relative;
    height: 8vh;
    width: 30%;
}

header #img-header img{
    width: 15%;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#one-page{
    width: 100vw;
    height: 80vH;
    position: relative;
    background-color: blue;
}

#one-page img{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media (max-width: 800px){
    #one-page{
        height: 50vH;
    }
}

@media (max-width: 400px){
    #one-page{
        height: 20vH;
    }
}